<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>
    <body>
        <%- include('../partials/header') %> 
        <main>
            <% categories.forEach(category => { %>
                <% if(category.id == categoryId) { %>
            <h1 class="servicios-h1"><%= category.nombre %></h1>
            <% }}) %>
            <div class="servicios-p">
                <p>Omnis voluptate alias magni iste asperiores et nulla, modi molestiae aliquid perspiciatis eum vel similique doloribus, provident totam.</p>
            </div>
            <% servicios.forEach(servicio => { %>
                <% if(servicio.category_id == categoryId) { %>
            <div class="box-servicio">
                <div class="box-servicio-left">
                    <div class="box-servicio-number"><%= servicio.id %></div>
                    <div class="box-servicio-txt">
                        <h2><%= servicio.nombre %></h2>
                        <p><%= servicio.descripcion %></p>
                        <p class="price"><%= servicio.precio %></p>
                    </div>
                    <div>
                        <button class="box-servicio-button">
                            <a href="/">VER DETALLES</a>
                        </button>
                    </div>
                </div>
                <div class="box-servicio-right">
                    <img src="<%= servicio.imagen %>" alt="<%= servicio.nombre %>">
                </div>
            </div>
            <% }}) %>
    </main>
    <%- include('../partials/footer') %>
</body>
</html>