<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>
    <body>
        <%- include('../partials/header') %> 
        <main>
            <h1 class="servicios-h1">SERVICIOS</h1>
            <div class="servicios-p">
                <p>Omnis voluptate alias magni iste asperiores et nulla, modi molestiae aliquid perspiciatis eum vel similique doloribus, provident totam.</p>
            </div>
            <% categories.forEach(category => { %>
                <% if(categoryId == category.id) { %>
            <div class="box-servicio">
                <div class="box-servicio-left">
                    <div class="box-servicio-number"><%= category.id %></div>
                    <div class="box-servicio-txt">
                        <h2><%= category.nombre %></h2>
                        <p><%= category.descripcion %></p>
                    </div>
                    <div>
                        <button class="box-servicio-button">
                            <a href="/">VER DETALLES</a>
                        </button>
                    </div>
                </div>
                <div class="box-servicio-right">
                    <img src="<%= category.imagen %>" alt="<%= category.nombre %>">
                </div>
            </div>
            <% }}) %>
    </main>
    <%- include('../partials/footer') %>
</body>
</html>