<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>

    <body>
        <%- include('../partials/header') %>
            <main>
                <div class="create-box">
                    <h1>Editar categoría</h1>
                    <form action="/categories/edit/<%=categorias.id%>?_method=PUT" method="POST"
                        enctype="multipart/form-data">
                        <label for="nombre">Nombre de la categoría</label>
                        <input type="text" id="nombre" name="nombre" placeholder="Ej: Desarrollo de apps"
                            class="form-input" value="<%=categorias.nombre%>">

                        <div>
                            <label for="description"></label>
                            <textarea name="description" id="description" cols="35" rows="10"
                                placeholder="agregue descripcion"><%=categorias.descripcion%></textarea>
                        </div>
                        <div class="control-form">Seleccionar foto de la categoría
                            <label for="foto"></label>
                            <input type="file" name="foto" id="foto" accept=".jpg, .png">
                        </div>
                        <button type="submit" class="button-form">Editar</button>
                        <button type="reset" class="button-form">Borrar</button>
                    </form>
                </div>
            </main>

            <%- include('../partials/footer') %>
    </body>

</html>