<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>

    <body>
        <%- include('../partials/header') %>
            <main>
                <h1 class="servicios-h1">Categorías de servicios</h1>
                
                <% categorias.forEach(categoria=> { %>
                    <bodyDetalle>
                        <div class="cardProducto">
                            <div class="imgDetalle">
                                <img src="<%= categoria.imagen %>" alt="<%= categoria.nombre %>">
                            </div>
                            <div class="detailsProducto">
                                <div class="titleProducto">
                                <h2>
                                    <%= categorias.nombre %>
                                <br>
                                <small>
                                    <%= categorias.descripcion %>
                                </small>
                                </h2>
                            </div>
                            <div class="descriptionProducto">
                                <h4>Descripción</h4>
                                <p>CrearLa brinda los mejores servicios tecnológicos para la industria laboral.</p>
                            </div>
                                <button class="box-servicio-button">
                                    <a href="/categories/detail/<%= categoria.id %>">VER DETALLES</a>
                                </button>
                            </div>
                        </div>
                       
                    </div>
                    <% }) %>
            </main>
            <%- include('../partials/footer') %>
    </body>

</html>