<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>

    <body>
        <%- include('../partials/header') %>
            <main>
                <h1 class="servicios-h1">SERVICIOS</h1>
                <div class="servicios-p">
                    <p>Omnis voluptate alias magni iste asperiores et nulla, modi molestiae aliquid perspiciatis eum vel
                        similique doloribus, provident totam.</p>
                </div>
                <% for (let i=0 ; i < categorias.length; i++ ) { %>
                    <% if(categoryId==categorias[i].id) { %>
                        <div class="box-servicio">
                            <div class="box-servicio-left">
                                <div class="box-servicio-number">
                                    <%= categorias[i].id %>
                                </div>
                                <div class="box-servicio-txt">
                                    <h2>
                                        <%= categorias[i].nombre %>
                                    </h2>
                                    <p>
                                        <%= categorias[i].descripcion %>
                                    </p>
                                </div>
                                <div>
                                    <button class="box-servicio-button">
                                        <a href="/carrito">AGREGAR AL CARRITO</A></a>
                                    </button>
                                    <button class="box-servicio-button">
                                        <a href="/servicios/detailCategory/<%=categorias[i].id%>">LISTA DE SERVICIOS</A></a>
                                    </button>
                                    <button class="box-servicio-button">
                                        <a href="/categories/edit/<%= categorias[i].id %>">EDITAR</A></a>
                                    </button>

                                    <form action="/categories/delete/<%= categorias[i].id %>" method="POST">
                                        <button type="submit" class="box-servicio-button">BORRAR</button>
                                    </form>
                                </div>
                            </div>
                            <div class="box-servicio-right">
                                <img src="<%= categorias[i].imagen %>" alt="<%= categorias[i].nombre %>">
                            </div>
                        </div>
                        <% }}%>
            </main>
            <%- include('../partials/footer') %>
    </body>

</html>