<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>

    <body>
        <%- include('../partials/header') %>
            <main>

                <% for (let i=0 ; i < categorias.length; i++ ) { %>
                    <% if(categoryId==categorias[i].id) { %>
                        <bodyDetalle>
                            <div class="cardProducto">
                                <div class="imgDetalle">
                                    <img src="<%= categorias[i].foto %>" alt="<%= categorias[i].nombre %>">
                                </div>
                                <div class="detailsProducto">
                                    <div class="titleProducto">
                                    <h2>
                                        <%= categorias[i].nombre %>
                                    <br>
                                    <small>
                                        <%= categorias[i].descripcion %>
                                    </small>
                                    </h2>
                                </div>
                                <div class="descriptionProducto">
                                    <h4>Descripción</h4>
                                    <p>CrearLa brinda los mejores servicios tecnológicos para la industria laboral.</p>
                                </div>
                                    <button class="box-servicio-button">
                                        <a href="/carrito">AGREGAR AL CARRITO</A></a>
                                    </button>
                                    <button class="box-servicio-button">
                                        <a href="/servicios/detailCategory/<%=categorias[i].id%>">LISTA DE SERVICIOS</A></a>
                                    </button>
                                    <button class="box-servicio-button">
                                        <a href="/categories/edit/<%= categorias[i].id %>">EDITAR</A></a>
                                    </button>

                                    <form action="/categories/delete/<%= categorias[i].id %>" method="POST">
                                        <button type="submit" class="box-servicio-button">BORRAR</button>
                                    </form>
                                </div>
                            </div>
                            
                        </div>
                        <% }}%>
            </main>
            <%- include('../partials/footer') %>
    </body>

</html>