<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>

    <body>
        <%- include('../partials/header') %>
            <main>
                <div class="create-box">
                    <h1>Actualizar servicio</h1>
                    <form action="/servicios/update/<%=servicioId%>?_method=PUT" method="POST"
                        enctype="multipart/form-data">
                        <% for(i=0; i < servicios.length; i++) { %>
                            <% if(servicios[i].id ==servicioId) { %>
                                <h2>
                                    <%=servicios[i].nombre %>
                                </h2>
                                <label for="nombre">Nombre del servicio</label>
                                <input type="text" id="nombre" name="nombre" class="form-input"
                                    value="<%=servicios[i].nombre %>">

                                <div class="select">Tipo de servicio</div>
                                <label for="categoria" class="form-label">Categoría:</label>
                                <select name="categoria" id="categoria" class="form-input">
                                    <% for(i=0; i < categorias.length; i++) { %>
                                        <% if(categorias[i].id==servicios[i].category_id) { %>
                                            <option value="<%= categorias[i].id%>" selected>
                                                <%= categorias[i].nombre%>
                                            </option>
                                            <% } else {%>
                                                <option value="<%= categorias[i].id%>">
                                                    <%= categorias[i].nombre%>
                                                </option>
                                                <% }} %>
                        </select>

                                </select>
                                <div>

                                    <label for="description"></label>
                                    <textarea name="description" id="description" cols="35" rows="10"
                                        value="<%=servicios[i].descripcion %>"><%=servicios[i].descripcion %></textarea>
                                </div>

                                <div class="control-form">Seleccionar fotos
                                    <label for="imagen"></label>
                                    <input type="file" name="imagen" id="imagen" accept=".jpg, .png">
                                </div>
                                <div class="control-form">
                                    <label for="precio">Precio:</label>
                                    <input type="text" id="precio" name="precio" value="<%=servicios[i].precio %>">
                                </div>
                                <button type="submit" class="button-form">Editar</button>
                                <button type="reset" class="button-form">Borrar</button>
                                <% }} %>
                            </form>
                </div>

            </main>

            <%- include('../partials/footer') %>
    </body>

</html>