<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>
    <body>
        <%- include('../partials/header') %>  
        <main class="main-contact">
            <div class="formulario-contacto-texto">
                <div class="tenes-duda">
                    <h3>¿Tenés alguna duda?</h3>
                    <p>Envianos tu consulta y te responderemos a la brevedad</p>
                </div>
                <form name="contact" method="POST" action="/contact" class="create-form-contact">
    <div class="tituloIcon">
        <label for="datos-contacto">Datos de contacto</label><i class="fa-regular fa-user"></i>
    </div>
    <div class="formulario-contacto">
    <div class="control-form"> 
        <input type="text" id="nombre" name="nombre" placeholder="Nombre y apellido" value="<%= locals.oldData ? oldData.nombre : null  %>">
        <% if (locals.errors && errors.nombre) { %>
            <div class="text-danger">
                <%= errors.nombre.msg %>
            </div>
        <% } %>
     </div>
     <div class="control-form">
        <input type="email" id="email" name="email" placeholder="E-mail"  value="<%= locals.oldData ? oldData.email : null  %>">
        <% if (locals.errors && errors.email) { %>
            <div class="text-danger">
                <%= errors.email.msg %>
            </div>
        <% } %>
    </div> 
    <div class="control-form">
        <input type="tel" id="tel" name="tel" placeholder="Telefono"  value="<%= locals.oldData ? oldData.tel : null  %>">
        <% if (locals.errors && errors.tel) { %>
            <div class="text-danger">
                <%= errors.tel.msg %>
            </div>
        <% } %>
    </div>
    <div class="tituloIcon">
        <label for="mensaje">Mensaje</label> <i class="fa-regular fa-envelope"></i>
    </div>
   
    <div>
        
        <label for="mensaje"></label>
        <textarea class="contactMsj" name="mensaje" id="mensaje" placeholder="Dejanos tu mensaje"  value="<%= locals.oldData ? oldData.mensaje : null  %>"></textarea>
        <% if (locals.errors && errors.mensaje) { %>
            <div class="text-danger">
                <%= errors.mensaje.msg %>
            </div>
        <% } %>
    </div>
    <button type="submit" class="button-form">Enviar</button>   
</div>

</div>
</form> 
    </main>
    <%- include('../partials/footer') %>
</body>
</html>