<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>
    <body>
        <%- include('../partials/header') %> 
    <main class="main-login">
    <div class="formulario-login">
        <h1>Mi cuenta</h1>
        <form class="formulario-login-box" name="login" method="POST" action="/users/login">
          <div class="formulario-login-box-field">
            <label for="email">Email</label>
            <input type="email" id="email" name= "email" placeholder="Ingresá tu email" value="<%= locals.oldData ? oldData.email : null %>">
            <% if (locals.errors && errors.email) { %>
             <div class="text-danger">
                  <%= errors.email.msg %>
              </div>
             <% } %>
          </div>
          <div class="formulario-login-box-field">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" placeholder="Ingresá tu password">
            <% if (locals.errors && errors.password) { %>
              <div class="text-danger">
                  <%= errors.password.msg %>
              </div>
            <% } %>
          </div>
          <div>
          <div class="login-check">
            <label for="form-checkbox">
              <input type="checkbox" name="recordarUsuario" id="recordarUsuario"> Recordar mi usuario
            </label>
          </div>
    </div>
        <div class="form-lostPass">
          <a href="./register">¿No tienes cuenta? ¡Registrate!</a>
        </div>
        <button type="submit" class="button-form">Iniciar sesión</button>
    </main>

    <%- include('../partials/footer') %>
</body>
</html>