<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>
    <body>
        <%- include('../partials/header') %>

    <body3>

        <div class="profile">
            <div class="left">
                <img src="/images/users/<%= locals.userLogged.foto %>" alt="userfoto">
                <h3 class="userLogged">Bienvenido!</h3>
    
                <h3 class="userLogged"> <%= locals.userLogged.nombre %></h3>
            </div>
            <div class="right">
                
        <button> <a  href="/users/logout" class="dropdown-item">Logout</a></button>

        <button> <a href="/users/edit/<%=locals.userLogged.id%>" class="dropdown-item">Editar</a></button>
        

        </div>
        </div>

    </body3>

    <%- include('../partials/footer') %>
</body>
</html>