<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>
    <body>
        <%- include('../partials/header') %> 
    <main class="main-register">
        <h1 class="titulo-form">Editar registro</h1>
        <div class="registro-form-img">
       <div  class="formulario-registro">
        
        <form class="create-form" name="registro" method="POST" action="/users/register" enctype="multipart/form-data" >
         <div class="control-form">
            <h2>Datos personales</h2> 

            <label for="nombre"></label>
            <input type="text" id="nombre" name="nombre" placeholder="Nombre y apellido" value="<%= locals.oldData ? oldData.nombre : null  %>" >
            
            
            <% if (locals.errors && errors.nombre) { %>
                <div class="text-danger">
                    <%= errors.nombre.msg %>
                </div>
            <% } %>
         </div>
         <div class="control-form">
            <label for="date"></label>
            <input type="date" id="date" name="fechaDeNacimiento" min="1950-01-01" max="" value="<%= locals.oldData ? oldData.fechaDeNacimiento : null  %>" >
            
            
            <% if (locals.errors && errors.fechaDeNacimiento) { %>
                <div class="text-danger">
                    <%= errors.fechaDeNacimiento.msg %>
                </div>
            <% } %>
        </div>
        <div class="control-form">
            <label for="domicilio"></label>
            <input type="text" id="domicilio" name="domicilio" placeholder="Domicilio"  value="<%= locals.oldData ? oldData.domicilio : null  %>" >
            
            
            <% if (locals.errors && errors.domicilio) { %>
                <div class="text-danger">
                    <%= errors.domicilio.msg %>
                </div>
            <% } %>
        </div>
         <div class="control-form">
            <label for="email"></label>
            <input type="email" id="email" name="email" placeholder="E-mail" 
            value="<%= locals.oldData ? oldData.email : null  %>" >
            
            <% if (locals.errors && errors.email) { %>
                <div class="text-danger">
                    <%= errors.email.msg %>
                </div>
            <% } %>
        </div> 

        <h2>Crear usuario</h2>
         <div class="control-form">
            <label for="usuario"></label>
            <input type="usuario" id="usuario" name="usuario" placeholder="Nombre de usuario" value="<%= locals.oldData ? oldData.usuario : null  %>" >
            
            
            <% if (locals.errors && errors.usuario) { %>
                <div class="text-danger">
                    <%= errors.usuario.msg %>
                </div>
            <% } %>
        </div> 
    
        <div class="control-form">
            <label for="password"></label>
            <input type="password" name="password" id="password" placeholder="Contraseña" value="<%= locals.oldData ? oldData.password: null  %>" >
            
            
            <% if (locals.errors && errors.password) { %>
                <div class="text-danger">
                    <%= errors.password.msg %>
                </div>
            <% } %>
        </div>
        <div class="control-form">
            <label for="confirmar-pass"></label>
            <input type="password" name="confirmar-pass" id="confirmar-pass"  placeholder="Confirmar contraseña" value="<%= locals.oldData ? oldData.password: null  %>" >
            
            
            <% if (locals.errors && errors.password) { %>
                <div class="text-danger">
                    <%= errors.password.msg %>
                </div>
            <% } %>
        </div>
        
        
        <h2>Seleccionar foto de usuario</h2>
            <div class="control-form">
            <label for="foto"></label>
            <input type="file" name="foto" id="foto" accept=".jpg, .png" value="<%= locals.oldData ? oldData.foto: null  %>" >
            
            
            <% if (locals.errors && errors.foto) { %>
                <div class="text-danger">
                    <%= errors.foto.msg %>
                </div>
            <% } %>
        </div>
        
            <button type="submit" class="button-form">Enviar</button>
            <button type="reset" class="button-form">Borrar</button>
    
        </form>
       </div>  
    <div class="formulario-registro">
     
        <i class="fa-solid fa-address-card" ></i>
        
       
    </div>
     </div>
    </main>

    <%- include('../partials/footer') %>
</body>
</html>